@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

.FormText{
    position: absolute;
    transform: translate(-30%,-70%);
    background: skyblue;
    padding: 80px;
    }
  
  
    .InputText{
        display: block;
        padding: .375rem .75rem;
        font-size: 2rem;
        line-height: 1.5;
        color: #0f0f0f;
        background-color: snow;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}
  

  input[type=text]{
    background-color: snow;
    color: black;
    font-size: 2rem;
    width: 500px;
    box-shadow: 4px 4px 10px;
  }
  
  input[type=datetime-local]{
    background-color: snow;
    color: black;
    font-size: 2rem;
    width: 500px;
    box-shadow: 4px 4px 10px;
  }

  textarea{
    background-color: snow;
    color: black;
    font-size: 2rem;
    width: 500px;
    box-shadow: 4px 4px 10px;
  }
  
  button{
    background-color: transparent;
    color: black;
    font-size: 2rem;
    width: 150px;
    box-shadow: 4px 4px 10px;
    margin: 0;
    height: 10%;
    width: 20%;
    position:fixed;
    }


 
  